body {
    padding-bottom: 150px;
}

html {
    scroll-behavior: smooth;
}

#userAvtar figure {
    overflow: hidden;
    border-radius: 100%;
    border: 3px solid white;
}

#userAvtar {
    height: 200px;
    width: 200px;
    margin: auto;
}

#profileImage {
    height: 200px;
    width: 200px;
}

#username1 {
    margin-top: -5px;
    font-weight: 100;
    font-size: 20px;
}

.follower-img img {
    width: 100%;
    border-radius: 100%;
    border: 2px solid white;
}

.card {
    background-color: rgba(0, 0, 0, 0.411) !important;
    margin-top: 20px;
}

.card:hover {
    border: 2px solid white;
    transform: scale(1.1);
    cursor: pointer;
    transition: 0.5s;
}

.card-footer h3 {
    color: white;
}

#left-profile {
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.411);
}

.nav-tabs {
    padding: 10px;
    padding-bottom: 0px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: rgba(0, 0, 0, 0.411);
}

.nav-item {
    padding: 5px;
    padding-bottom: 0px;
}