#userAvtar figure {
    overflow: hidden;
    border-radius: 100%;
    border: 3px solid white;
}

#userAvtar {
    height: 200px;
    width: 200px;
    margin: auto;
}
#username1{
    margin-top: -5px;
    font-weight: 100;
    font-size:20px;
}